*{
  font-family: 'Raleway', sans-serif;
}
.navbar {
  /*display: flex;*/
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  background-image: url(logo.jpg);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  padding:3%;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  background-color: black;
  color: red;
  height:200px;
}
.navbar-default .navbar-nav li a {
  color: #FBFBFB;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
}
.dropdown-menu li a {
  background-color: black;
  font-size: 20px;
}
.extraspace{
  margin-top: 30px;
}
.homebutton{
  font-family: 'Amatic SC', cursive;
  color:#FBFBFB;
  margin-right: 35px;
}

.collapse {
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 100px;
  align-self: flex-end;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: nowrap;

}
.pict{
  width: 33%;
  height: 300px;
  margin:.2%;
  border: 2px solid white;
}

.logo{
  width: 25%;
  height: 70px;
}
.Michelin-star{
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: nowrap;
  font-family: 'Amatic SC', cursive;
  margin: 2%;
}
p{
  font-size: 15px;
  margin: 2%;
}
.Michelin{
  margin: 3%;
}
.name{
font-size: 25px;
font-family: 'Amatic SC', cursive;
color: #191716;
}
.detail{
  list-style-type: none;
}
.container-fuid{
display: inline-block;
float: none;
vertical-align: top;
color: red;

}
